# ----------------------------
# ---      GIT ignore      ---
# ----------------------------

# Untracked files:
.project
.settings
npm-debug.log
*.bck
*.csv
*.dat
*.gz
*.log
*.orig
*.out
*.pid
*.seed

# Untracked tmp files
.DS_Store

# Untracked file exceptions:

# Untracked directories:
doc
jsdoc
lib-cov
logs
node_modules
pids
publish
results
temp
tmp
